.forum {
  margin: 0.5em 0 2em 0;
  background-color: #FFFFFF;
  padding: 1em;
}

.forum_header {
  .back {
    z-index: 1;
    margin-top: 1.7em;
    a {
      color: #16a085;
    }
  }

  .title > * {
    display: inline-block;
    color: #16a085;
  }
  #new_post_btn {
    margin-top: 1.4em;
    border-color: #3AA08B;
    border-radius: 5%;
  }

  #new_post_btn:hover {
    background-color: #16a085 !important;
    color: #FFFFFF !important;
  }

  .search-input-group {
    margin-top: 0.8em;
  }
  .search-input-group .input-group-addon {
    border-radius: 0em;
    background: white !important;
  }
  .search-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
  }
  .search-input-group button {
    border: 0;
    background: transparent;
    color: #16a085;
  }

}

.table {
  tr:hover {
   background-color: #eee;
  }
}

table {
  table-layout: fixed;
}

.forum_table_cell {

  a {
    h4 {
      color: #16a085;
      font-weight: bold;
    }
  }
  .badge {
    background-color: #16a085;
  }
}


/* New Project Form */
#createPostModalContent{
  margin-top: 7em;
  padding:1em;
  border-radius: 2%; 
}


.modal-title{
  text-align: center;
  color: #16a085;
  font-weight: bold;
}

.create_in_modal{
  margin-left: 2em;
}


.original_poster{
  a{
    font-size: .9em;
    color: #16a085;
  }
}
.original_poster > * , .likes > *{
    display: inline-block;
}

.post_header{
  overflow:auto;
  background-color: #eee;
  margin: 1em 2em 0 2em;

}


.forum_post_table{
  margin: .1em .1em 0 2em !important;
}

.postTitle{
  color: #16a085;
  font-weight: bold;
}

#user_photo{
  width: 1.5em;
  height: 1.5em;
}


.likes_post{
  margin-left: 1em;
}

#like_btn{
  border-color: #16a085;
  background-color: white;
  color: #16a085;
  border-radius: 15%;
}

#like_btn.active.focus, #like_btn.active:focus, #like_btn.focus, #like_btn:active.focus, #like_btn:active:focus, #like_btn:focus, #like_btn:hover{
  background-color: #16a085; 
  color: white;
}