/*    --------------------------------------------------
      :: General
      -------------------------------------------------- */

body {
  font-family: 'Open Sans', sans-serif;
  color: #353535;
}

.content h1 {
  text-align: center;
}

/*  --------------------------------------------------
  :: Table Filter
  -------------------------------------------------- */

.panel {
  border: 1px solid #ddd;
  background-color: #F2F2F0;
  .btn-group {
    margin: 1em 0 2em;
    .btn {
      transition: background-color .3s ease;
	  &:focus{
	  background: #16a085
	  }
        
    }
	
  }
  .title {
  color: #16a085;
  }
}


.table-filter {
  border-bottom: 1px solid #eee;
  tbody tr {
    &:hover {
      cursor: pointer;
      background-color: #eee;
    }
    td {
      padding: .8em;
      vertical-align: middle;
      border-top-color: #eee;
    }
    &.selected td {
      background-color: #eee;
    }
  }
  tr td {
    &:first-child {
      width: 2em;
    }
    &:nth-child(2) {
      width: 1.9em;
    }
  }
  .media-photo {
    width: 6em;
    height: 6em;
    margin-top: .4em;
    margin-bottom: 1em;
  }
  .media-body {
    display: inline;
  }
  .media-meta {
    font-size: .8em;
    color: #999;
  }
  .media {
    .title {
      color: #16a085;
      font-size: 1.15em;
      font-weight: bold;
      line-height: normal;
      margin: 0;
      span {
        font-size: .8em;
        margin-right: 20px;
        &.user {
          color: #999;
        }
        &.project {
          color: #999;
        }
      }
    }
    .summary {
      font-size: 1em;
    }
  }
}

.location > *, .email > *, .collaborators > *, .state > * {
  font-size: 1em;
  display: inline-block;
  margin-right: 2px;
}

.info {
  margin-top: 5px;
}

table {
  table-layout: fixed;
}