$gray: #343434;
$main-color: #017552;

body {
  background: url("../assets/background.png") fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .container {
    #logo {
      transform: translate(25%, 25%);
      top: 0%;
      left: 0%;
      position: fixed;
    }

    #search-bar {
      transform: translate(50%, 50%);
      margin-top: 10em;
    }

    input {
      margin: 0.5em;
      box-sizing: border-box;
      border: 0.1em solid $gray;
      border-radius: 0.5em;
      width: 50%;
      height: 2.5em;
    }

    #sign {
      transform: translate(33em, 35em);
      border-color: white;
      border-width: medium;
      color: white;
      background: rgba(1, 117, 82, 0.7);
      width: 20%;
      padding-top: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}
