$gray: #343434;
$main-color: #017552;

body {
  background: url("../assets/background.png") fixed no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;

  .container {
    #logo {
      transform: translate(-160%, 20%);
      top: 50%;
      left: 50%;
      position: fixed;
    }

    #search-bar {
      transform: translate(75%, -50%);
      margin-top: 40em;

      background-image: url('../assets/searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding-left: 40px;
    }

    div#login {
      background: rgba(1, 117, 96, 0.3);
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -80%);
      text-align: center;
      padding-bottom: 3em;
      padding-top: 3em;
      border-width: medium;
      border-style: solid;
      border-color: white;

      a {
        color: white;
        font-size: 1.5em;
      }
    }

    input[type=text] {
      margin: 0.5em;
      box-sizing: border-box;
      border: 0.1em solid $gray;
      border-radius: 0.5em;
      width: 50%;
      height: 2.5em;
    }

  }
}