$gray: #343434;

body {
  background-image: url("../img/background.png");
  background-size: cover;
  background-repeat: no-repeat;

  div#login {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;

    a {
      color: black;
    }

    input[type=text] {
      margin: 0.5em;
      box-sizing: border-box;
      border: 0.1em solid $gray;
      border-radius: 0.5em;
      width: 50%;
      height: 2.5em;
    }

  }
}