body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 1.3em 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 1.3em 0 .7em 0;
  background: #F2F2F0;
  border-radius: 2%; 
  margin-bottom: 1em;
}

.profile-userpic img {
  margin: 0 auto;
  width: 10em;
  height: 10em;
}

.profile-usertitle {
  text-align: center;
  margin-top: 1.2em;
}

.profile-usertitle-name {
  font-family: Helvetica;
  color: #16a085;
  font-size: 1.7em;
  font-weight: bold;
  margin-bottom: .2em;
}

.profile-usertitle-username {
  color: #3AA08B;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1.7em;
}

.profile-userbuttons {
  text-align: center;
  margin-top: .7em;

  .btn {
    margin: .2em;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 600;
    padding: .4em 1em;
    margin-right: .4em;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.profile-usermenu {
  margin-top: 2em;
}

/* Profile Content */
.profile-content {
  padding: 1.3em;
  background: #F2F2F0;
  min-height: 28.75em;
  border-radius: 1.5%; 
}


.location > *, .email > *,  .job > * {
  margin-left: .7em;
  display: inline-block;
}

.location > *, .email > *, .collaborators > *, .state > *, .sender > *{
  font-size: 1em;
  display: inline-block;
}
.info{
  margin-top: 5px;
}

.table-popular , .table-myproj {
  background-color: #fff;
  border-bottom: 1px solid #eee;

  tbody tr:hover {
    cursor: pointer;
    background-color: #F2F2F0;
  }

  tbody tr td {
    padding: .8em;
    vertical-align: middle;
    border-top-color: #eee;
  }

  tbody tr.selected td {
    background-color: #eee;
  }

  tr td:first-child {
    width: 2em;
  }

  tr td:nth-child(2) {
    width: 1.9em;
  }

  .media-photo {
    width: 4.3em;
    height: 4.3em;
    margin-top: .4em;
    margin-bottom: 1em;
  }

  .media-body {
    display: inline;
  }

  .media-meta {
    font-size: .8em;
    color: #999;
  }

  .media .title {
    color: #16a085;
    font-size: 1.15em;
    font-weight: bold;
    line-height: normal;
    margin: 0;

    span {
     font-size: .8em;
     margin-right: 1.3em;
   }

   span.user {
     color: #5cb85c;
   }

   span.project {
     color: #f0ad4e;
   }
 }

 .media .summary {
  font-size: 1em;
}
}

.menu-side{
  margin: 1.5em 0.5em 0.1em 0.5em;

  a{
    color:#16a085;
    background-color: #FFFFFF;
  }

  li{
    margin-bottom: .5em;
  }

  li.active > a{
    background-color:#16a085 !important;
    color: #FFFFFF !important;
  }

  
}

.popular_title {
  margin-top: 2em;
}

.stat_title > *, .popular_title > *, .myproj_title > *, .settings_title > *{
  display: inline-block;
  color: #3AA08B;
  margin-bottom: 1em;
}


#new_proj_btn{
  margin-top: 1em;
  border-color: #3AA08B;
}

.stats_row > *{   
  margin-bottom: .5em;

  i{
    color: #39B79E;
  }
  > *{
    display: inline-block;
  }
}

#notification_filter{
  margin-bottom: .5em;
}

#notification_filter:focus{
  background-color:#3AA08B;
  color: white;
}

#notification_filter:hover{
 border-color: #3AA08B;
}

#notifications{
  .profile-content > *{
    margin: .3em;
  }

  .tab-content{
    margin-top: 1.3em;
  }

  .notification_tabs{
    a{
      color:#16a085;
      background-color: #FFFFFF;
    }

    li.active > a{
      background-color:#16a085 !important;
      color: #FFFFFF !important;
    }


  }
}