
body {
  background: #F1F3FA;
}

/* Profile container */
.profile {
  margin: 1.3em 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 1.3em 0 .7em 0;
  background: #E8E8E8;
}

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  -webkit-border-radius: 5% !important;
  -moz-border-radius: 5% !important;
  border-radius: 5% !important;
}

.profile-usertitle {
  text-align: center;
  margin-top: 1.2em;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 1.7em;
  font-weight: 600;
  margin-bottom: .5em;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: .7em;
  font-weight: 600;
  margin-bottom: 1.7em;
}

.profile-userbuttons {
  text-align: center;
  margin-top: .7em;

  .btn {
    margin: .2em;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 600;
    padding: .4em 1em;
    margin-right: .4em;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.profile-usermenu {
  margin-top: 2em;

  ul li {
    border-bottom: 1px solid #f0f4f7;

    &:last-child{
      border-bottom: none;
    }

    a {
      color: #93a3b5;
      font-size: .9em;
      font-weight: 400;

      &:hover {
        background-color: #fafcfd;
        color: #16a085;
      }

      i {
        margin-right: .5em;
        font-size: .85em;
      }
    }

    .active {
      border-bottom: none;

      a {
        color: #16a085;
        background-color: #f6f9fb;
        border-left: 2px solid #5b9bd1;
        margin-left: -2px;
      }
    }
  }
}

/* Profile Content */
.profile-content {
  padding: 1.3em;
  background: #E8E8E8;
  min-height: 28.75em;
}

.location > *, .email > *{
  margin-right:2px;
}

.location > *, .email > *, .collaborators > *, .state > *{
  font-size: 1em;
  display: inline-block;
}
.info{
  margin-left: .8em;
  margin-top: 5px;
}

.table-popular {
  background-color: #fff;
  border-bottom: 1px solid #eee;

  tbody tr:hover {
    cursor: pointer;
    background-color: #EBF5EE;
  }

  tbody tr td {
    padding: .8em;
    vertical-align: middle;
    border-top-color: #eee;
  }

  tbody tr.selected td {
    background-color: #eee;
  }

  tr td:first-child {
    width: 2em;
  }

  tr td:nth-child(2) {
    width: 1.9em;
  }

  .media-photo {
    width: 4.3em;
    height: 4.3em;
    margin-top: .4em;
    margin-bottom: 1em;
  }

  .media-body {
      display: inline;
  }

  .media-meta {
    font-size: .8em;
    color: #999;
  }

  .media .title {
    color: #16a085;
    font-size: 1.15em;
    font-weight: bold;
    line-height: normal;
    margin: 0;

    span {
     font-size: .8em;
     margin-right: 1.3em;
   }

   span.user {
     color: #5cb85c;
   }

   span.project {
     color: #f0ad4e;
   }
  }

  .media .summary {
    font-size: 1em;
  }

}
